name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  engine-tests:
    name: Engine Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - name: Run engine tests
        run: npm run test:engine
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    needs: engine-tests
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - name: Run linter
        run: npm run lint
  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - name: Compile extension
        run: npm run compile
      - name: Run VS Code tests
        uses: coactions/setup-xvfb@v1
        with:
          run: npm test
        continue-on-error: true
